{% extends 'template.html' %}
{% load static %}
{% block content %}
<section class="fresh-vegetable-section section-lg-space">
    <div class="container-fluid-lg">
        <div class="row gx-xl-5 gy-xl-0 g-3 ratio_148_1">
            <div class="col-xl-6 col-12">
                <div class="row g-sm-4 g-2">
                    <div class="col-6">
                        <div class="fresh-image-2">
                            <div class="bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/inner-page/about-us/1.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                <img src="{% static 'assets/images/inner-page/about-us/1.jpg' %}"
                                    class="bg-img blur-up lazyload" alt="" style="display: none;">
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="fresh-image">
                            <div class="bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/inner-page/about-us/2.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                <img src="{% static 'assets/images/inner-page/about-us/2.jpg' %}"
                                    class="bg-img blur-up lazyload" alt="" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-12">
                <div class="fresh-contain p-center-left">
                    <div>
                        <div class="review-title">
                            <h3>About Us</h3>
                            <h2>Welcome to Vegetable shop an eCommerce website</h2>
                        </div>

                        <div class="delivery-list">
                            <p class="text-content">Welcome to Vegetable & Fruits shop, where passion for fresh,
                                wholesome produce
                                meets convenience. Explore our vibrant, diverse selection, sourced for quality and
                                flavor. At Vege Foods, we are committed to delivering the finest fruits and vegetables
                                to your doorstep, ensuring a healthier and more delicious lifestyle. Our journey is
                                rooted in a dedication to promoting well-being through nutritious choices. Join us in
                                savoring the goodness of nature, one delightful bite at a time. Experience the essence
                                of Vege Foods, where freshness and convenience converge for your culinary pleasure.</p>

                            <ul class="delivery-box">
                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/leaf.svg"
                                                class="blur-up lazyloaded" alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text"> fresh Vegetables</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/leaf.svg"
                                                class="blur-up lazyloaded" alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text"> fresh Fruits</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client-section section-lg-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title text-center">
                    <h4>What We Do</h4>
                    <h2 class="center">We are Trusted by Clients</h2>
                </div>

                <div class="slider-3_1 product-wrapper slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <div class="slick-track"
                            style="opacity: 1; width: 1308px; transform: translate3d(0px, 0px, 0px);">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                style="width: 436px;" tabindex="0">
                                <div class="clint-contain">
                                    <div class="client-icon">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/work.svg"
                                            class="blur-up lazyloaded" alt="">
                                    </div>
                                    <h2>10</h2>
                                    <h4>Business Years</h4>
                                    <p>A Vegetable & Fruits shop is a big business that sells Vegetable & Fruits.
                                        There are many different types of Vegetable & Fruits shop around the world.</p>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                style="width: 436px;" tabindex="0">
                                <div class="clint-contain">
                                    <div class="client-icon">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/buy.svg"
                                            class="blur-up lazyloaded" alt="">
                                    </div>
                                    <h2>80 K+</h2>
                                    <h4>Products Sales</h4>
                                    <p>Some coffee shops have a seating area, while some just have a spot to order and
                                        then
                                        go somewhere else to sit down. The coffee shop that I am going to.</p>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                style="width: 436px;" tabindex="0">
                                <div class="clint-contain">
                                    <div class="client-icon">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/user.svg"
                                            class="blur-up lazyloaded" alt="">
                                    </div>
                                    <h2>90%</h2>
                                    <h4>Happy Customers</h4>
                                    <p>My goal for this Vegetable & Fruits shop is to be able to get a Vegetable ,
                                        Fruits and get on with my
                                        day.
                                        It's a Thursday morning and I am rushing between meetings.</p>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}